@media (min-width: 576px) {
  /* =========Banner Part Start====== */
  #bannerPart {
    padding: 59px 0 69px 0;
  }

  .bannerPartTitle {
    font-size: 26px;
    line-height: 41px;
  }
  .bannerPartSummare {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.9;
    padding-bottom: 12px;
  }
  .ImgSummare {
    font-weight: 384;
    line-height: 24px;
    padding: 36px 0 16px 0;
  }

  /* ============Blog Part Start========== */
  .BlogTaitl {
    font-size: 35px;
    font-weight: 550;
    line-height: 45px;
    margin-bottom: 23px;
  }
  .BlogPartCard__date {
    padding: 15px 0 1px 0;
    font-size: 15px;
    font-weight: 450;
    line-height: 25px;
  }
  .BlogPartCard__title {
    font-size: 16px;
    line-height: 25px;
}
.BlogPartCard__Summari {
    font-size: 13px;
    line-height: 24px;
}
  /* ============Blog Part Start========== */
}
