@media (max-width: 575.98px) {
       /* navbar */
.coustomBtn {
    margin-left: 95px;
  }
  /* navbar */
    .loremlist__list {
        font-size: 10px;
    }

    .read__Title {
        font-size: 20px;
        line-height: 28px;
    }
    .read__Name {
        font-size: 10px;
        line-height: 15px;
    }

    .loremContain__Title {
        font-size: 17px;
    }
}