/* =============== ExtarLarge Device Responsive ============== */

@media (max-width: 1399.98px) { 
    .read__Title {
        padding-top: 70px;
    }

    .loremContain__Title {
        padding-top: 20px;
        font-size: 32px;
    }

    .loremContain__Summry {
        padding: 10px 0;
       
    }
} 
/* =============== ExtarLarge Device Responsive ============== */