@media (max-width: 1199.98px) { 
    .read__Title {
        padding-top: 37px;
        font-size: 30px;
        line-height: 40px;
    }

    .loremContain__Title {  
        font-size: 30px;
    }

 }