@media (max-width: 575.98px) { 
  .coustomBtn {
    padding: 12px 70px !important;
    font-size: 12px;
}
.top__Title {
  font-size: 33px !important;
}
.form__Btn {
  padding: 16px 64px !important;
  font-size: 14px !important;
}
ol, ul {
  padding-left: 0rem !important;
}
 }