@media (max-width: 991.98px) { 
    :root {
        --first_background_color: #1C1E53;
        --second_background_color: #F4F6FC;
        --thirt_background_color: #ffffff;
        --first_font_color: #282938;
        --Btn_yello_color: #FCD980;
        --poppins_font: "Poppins", sans-serif; 
    }
     /* Navbar */
          /* Navbar */
          .coustomItam{
            background-color: var(--Btn_yello_color);
            text-align: center;
            padding: 5px 0;
            margin:5px 0px;
            border-radius: 7px;
          }
          /* nav  */
          .coustomBtn {
            padding: 10px 125px;
            /* margin-left: 160px; */
            margin:2px auto !important;
            font-size: 13px !important;
          }
        /* Navbar */


    .contactWrapperMain {
        margin: 31px 0px;
    }

/* footer  */
    .iconItem { 
        margin: 20px auto;
    }
    .customItem__link {
        margin-top: -12px;
    }
    .copyright{
     text-align: center;
    }
    .callPart {
        margin-left: 0px !important;
    }
 }
