/* =============== ExtarLarge Device Responsive ============== */

@media (max-width: 1399.98px) { 
    :root {
        --first_background_color: #1C1E53;
        --second_background_color: #F4F6FC;
        --thirt_background_color: #ffffff;
        --first_font_color: #282938;
        --Btn_yello_color: #FCD980;
        --poppins_font: "Poppins", sans-serif; 
    }
    /* ================ Extra Large Responsive =============== */
    /* .teamPhoto {
        padding: 20px 71px !important;
    }
    .memberCard {  
        padding: 50px 41px !important;
    } */

    .iconItem {
        margin-top: 61px;
        padding-bottom: 30px;
    }
    .talkRight__title {
        
        line-height: 29px;
    }
   
    /* ================ Extra Large Responsive =============== */
} 
/* =============== ExtarLarge Device Responsive ============== */