/* =============== Medium Device Responsive ============== */

@media (max-width: 991.98px) { 
    /* h1, h2, h3, h4, h5, h6, div, section, p, a, img, svg, button {
        padding: 10px;
    } */
    :root {
        --first_background_color: #1C1E53;
        --second_background_color: #F4F6FC;
        --thirt_background_color: #ffffff;
        --first_font_color: #282938;
        --Btn_yello_color: #FCD980;
        --poppins_font: "Poppins", sans-serif; 
    }
    /* ================ Medium Device Responsive =============== */

    .navbar-toggler:focus {
        box-shadow: none;
        border: 1px dashed #FCD980;
    }

    .coustomNavItem{
        text-align: center;
        background-color: var(--Btn_yello_color);
        border-radius: 5px;
        padding: 5px 0;
        margin: 10px 0;
        color: black;
    }

   

  /* nav  */
  .coustomBtn {
    padding: 10px 125px;
    /* margin-left: 160px; */
    margin:2px auto !important;
}

    #bannerPart {
        padding: 20px 0px !important;
        
    }

    .bannerLeft__head {
        margin-bottom: 0px;
    }

    .bannerLeft__title {
        font-size: 49px !important;
        line-height: 56px !important;
    }

    .bannerLeft__para {
        margin-bottom: 20px;
    }

    #goalPart {
        padding: 10px 0px;
    }

    
    .goalRight__title {
        margin-top: -5px !important;
        font-size: 38px;
    }
 

    #followPart {
        padding: 21px 0px !important;
       
    }
    #missionPart {
        padding: 29px 0px!important;
    
    }
    .sectionModifed{
        margin-top: 50px;
    }
    .missionLeft__title {
        font-size: 28px !important;
        line-height: 17px !important; 
        margin-bottom: 9px;
    }
    .missionRight__title {
        font-size: 28px !important;
    }

    .missionRight__para {
        font-size: 10px;
        line-height: 18px;
    }

    #workingPart {
        padding: 32px 0px !important;
    
    }
    .topPart {
        font-size: 42px !important;
    }

     .cardPart {
        padding: 16px 10px 17px 10px !important;
       
    }
    /* .memberCard {
        padding: 38px 90px !important ;
        margin-left: 0px;
    }  */

    /* .cardPart__title {
        font-size: 27px !important;
        line-height: 28px;
        
    } */

    .picPart {
       display: block;
        ;
    }
    /* .teamPhoto{
        margin: 0 !impo;
        padding: 0 !important;
     } */
    #meetPart {
        padding: 10px 0px;
    }
 
    .mettTop {
        font-size: 48px;
    }


    .missionLeft__head {
        margin-bottom: -20px;
    }
  

    #missionPart {
        padding: 10px 0px;
    } 

    .missionLeft__title {
        font-size: 23px;
        margin-bottom: -18px;
    }

    .missionLeft__para {
        font-size: 10px;
        line-height: 20px;
    }

    .overlay {
        margin-left: 21px;
    }

    .overlay {
        left: -195px;
        top: 21px;
    }

    .overlayContent {
        left: 13px;
    }

    .callPart {
        margin-left: 0px;
    }
   
    
    

    ol, ul {
        padding-left: 0rem;
    }
    /* Footer  */
    .iconItem { 
        margin: 20px auto;
    }
    .customItem__link {
        margin-top: -12px;
    }
    .copyright{
     text-align: center;
    }
    .callPart {
        margin-left: 0px !important;
    }


}
/* ================ Medium Device Responsive =============== */