/* =============== Small Device Responsive ============== */

@media (max-width: 767.98px) { 
    :root {
        --first_background_color: #1C1E53;
        --second_background_color: #F4F6FC;
        --thirt_background_color: #ffffff;
        --first_font_color: #282938;
        --Btn_yello_color: #FCD980;
        --poppins_font: "Poppins", sans-serif; 
    }
    /* ================ Small Device Responsive =============== */
 /* navbar  */
    .coustomNav {
        padding-left: 0px !important;
    }
    .costomBtn {
       
        /* margin-left: 150px !important; */
        margin:auto;
    }
    /* .memberCard {
        padding: 48px 170px!important ;
        margin-left: 0px;
    } */
    .mettTop {
        font-size: 23px;
    }
    #bannerPart {
        padding: 29px 0px  !important;
        
    }
    #goalPart {
        padding: 23px 0px;
       
    }
    .goalRight__title {
        margin-top: 28px !important;

    }
    #workingPart {
        padding: 25px 0px !important;
        
    }
    .bannerLeft__title {
        font-size: 34px !important;
        line-height: 58px;
        
    }
    
    /* Footer  */
  /* .callPart {
    margin-left: 20px;
} */
  /* Footer  */
} 
 /* ================ Small Device Responsive =============== */  