/* =============== ExtarLarge Device Responsive ============== */

@media (max-width: 1399.98px) {
  :root {
    --first_background_color: #1c1e53;
    --second_background_color: #f4f6fc;
    --thirt_background_color: #ffffff;
    --first_font_color: #282938;
    --Btn_yello_color: #fcd980;
    --poppins_font: "Poppins", sans-serif;
  }
  /* ==================Banner Part Start================ */
  #bannerPart {
    margin-top: 105px;
  }
/* <!-- =========================About Part Start=========================--> */
  .contact__Title {
    margin-top: 71px;
  }
  .btncustom {
    margin-bottom: 91px;
  }
  /* <!-- =========================About Part End=========================--> */
}
/* =============== ExtarLarge Device Responsive ============== */
