@media (max-width: 991.98px) {
  :root {
    --first_background_color: #1C1E53;
    --second_background_color: #F4F6FC;
    --thirt_background_color: #ffffff;
    --first_font_color: #282938;
    --Btn_yello_color: #FCD980;
    --poppins_font: "Poppins", sans-serif; 
}
 /* Navbar */
.coustomItam{
    background-color: var(--Btn_yello_color);
    text-align: center;
    padding: 5px 0;
    margin: 5px;
    border-radius: 7px;
    
}
.coustomBtn {
    padding: 10px 125px;
}

.coustomBtn {
    margin-left: 160px;
}
/* Navbar */
  /* ==========Banner Part Start========== */
  .bannerSummary {
    font-size: 15px;
    font-weight: 450;
    line-height: 25px;
    padding: 16px 0 29px 0;
  }

  .cliendItem__summary {
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
  }

  .cliendItem__title {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  .project__List {
    font-size: 13px;
    line-height: 39px;
  }
  .project__SecendariTitle {
    line-height: 48px;
    padding: 40px 0 12px 0;
  }

  .project__SecendariSummery {
    text-align: justify;
}

  /* ==========Banner Part Start========== */
  /* <!-- =========================About Part Start=========================--> */

  .project__Title {
    font-size: 34px;
    line-height: 55px;
  }

  .project__Summery {
    font-size: 15px;
    line-height: 26px;
  }

  .project__SecendariList {
    font-size: 13px;
    line-height: 32px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
  .contact__Title {
    font-size: 39px;
    line-height: 51px;
  }
  
.contact__Title {
    font-size: 36px;
    line-height: 50px;
    margin-top: 54px;
}
.contactList{
  font-size: 14px;
}
/* Footer  */
.iconItem { 
  margin: 20px auto;
  
 
}
.customItem__link {
  margin-top: -12px;
}
.copyright{
text-align: center;
}
.callPart {
  margin-left: 0px;
}
}
