@media (max-width: 575.98px) { 
    .coustomBtn {
        
        margin-left: 100px;
    }
    .BannerContent {
        text-align: center;
    }
    .BannerContent_btnOne {
        margin-left: 36px; 
    }
}