/* =============== ExtarLarge Device Responsive ============== */

@media (max-width: 1399.98px) { 
    :root {
        --bg_color: #1C1E53;
        --dark_blue: #282938;
        --royle_blue: #2405F2;
        --Manrope: "Manrope", sans-serif;
        --Poppins: "Poppins", sans-serif;
        --primary_font_color: #282938;
        --primary_font_size: 16px;
        --primary_font_weight: 400;
        --primary_heading_size: 32px;
        --primary_heading_weight: 500;
    }
    .Brand__span {
        font-size: 27px;
        line-height: 22px;
    }
    .ProblemsBottomItemWrap_p {
        font-size: 13px;
    }
    .contentWrapper__title {
        font-size: 28px;
        line-height: 44px;
    }
    /* footer part */
    .footerContact__emailtitle {
        font-size: 16px;
    }
    .footerContact_email {
        font-size: 13px;
    }
    .footerContact__calltitle{
        font-size: 16px;
    }
    .footerContact__num{
        font-size: 13px;
    }
    .footerRight__summary{
        font-size: 14px;
    }
} 
/* =============== ExtarLarge Device Responsive ============== */