
@media (max-width: 991.98px) {
    :root {
        --bg_color: #1C1E53;
        --dark_blue: #282938;
        --royle_blue: #2405F2;
        --Manrope: "Manrope", sans-serif;
        --Poppins: "Poppins", sans-serif;
        --primary_font_color: #282938;
        --primary_font_size: 16px;
        --primary_font_weight: 400;
        --primary_heading_size: 32px;
        --primary_heading_weight: 500;
    }
    /* bannerpart */
    .BannerContent_h2 {
        font-family: var(--Poppins);
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
    }
    /* Team Part */
    .ProblemsHead_h2 {
        font-size: 28px;
        line-height: 41px;
    }
    .contentWrapper__summary{
        margin-bottom: 25px;
    }
    .contentWrapper__tag{
        margin-top: 25px;
    }
}