@media (max-width: 991.98px) { 
    :root {
        --bg_color: #1C1E53;
        --dark_blue: #282938;
        --royle_blue: #2405F2;
        --Manrope: "Manrope", sans-serif;
        --Poppins: "Poppins", sans-serif;
        --primary_font_color: #282938;
        --primary_font_size: 16px;
        --primary_font_weight: 400;
        --primary_heading_size: 32px;
        --primary_heading_weight: 500;
    }
    /* navBar  */
    :root {
        --first_background_color: #1C1E53;
        --second_background_color: #F4F6FC;
        --thirt_background_color: #ffffff;
        --first_font_color: #282938;
        --Btn_yello_color: #FCD980;
        --poppins_font: "Poppins", sans-serif; 
    }
    /* ================ Medium Device Responsive =============== */

    .navbar-toggler:focus {
        box-shadow: none;
        border: 1px dashed #FCD980;
    }

    .coustomNavItem{
        text-align: center;
        background-color: var(--Btn_yello_color);
        border-radius: 5px;
        padding: 5px 0;
        margin: 10px 0;
        color: black;
    }

    h1, h2, h3, h4, h5, h6, div, section, p, a, img, svg, button {
        padding: 10px;
    }

    .costomBtn {
        padding: 10px 145px;
        margin-left: 150px;
    }

    .coustomNav {
        padding: 0px 0;
    }

    /* navBar  */


    #Pricing {
        padding: 67px 0 0;
    }
    #Questions {
        padding: 67px 0;
    }
    .QuestionsLeft{
        margin-bottom: 20px;
    }
    .coustomBtn {
        margin-left: 240px;
    }
    .coustomNavItem {
        margin-bottom: 8px;
        padding: 10px 0px !important;
    }
    .customBtn__link {
        padding: 5px 30px !important;
    }
    /* navbar  */

    /* pricing */
    #Pricing{
        margin-top: 0px !important;
    }
    .pricingItem__price {
        font-size: 39px;
    }
    .pricingItem {
       
        padding: 0;
        
    }
    .pricingItem__price {
        font-size: 39px;
    }
    .pricingItem__title {
        font-size: 20px;
        margin-top: 1px !important;
    }
    .pricingItem__summary {
        font-size: 11px;
    }
    .pricingItem__list {
        margin-top: 30px !important;
    }
    .pricingItem-modify {
        margin-top: 5px !important;
        
    }
    .pricingItem__btn {
        font-size: 15px;
        padding: 10px 39px;
        margin-top: 50px;
    }
    .pricingItem__btn-Modify{
        margin-top: 33px;
    }
    .QuestionsLeft_link {
        font-size: 18px;
        line-height: 21px;
        padding-left: 13px;
    }

    /* Footer  */
    #footer {
    padding: 15px 0 0;
  }

  .copyright {
    font-size: 20px;
    line-height: 0px;
}
.talkRight__para {
    font-size: 16px;
}
.imageleft__para {
    
    margin-top: 11px;
}
    .iconItem {
        margin: 0px auto;
    }
    .customItem__link {
        margin-top: -12px;
    }
    .copyright{
     text-align: center;
    }
    .callPart {
        margin-left: 0px;
    }
 }