/* =================== common css ==================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /* common css  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

    
ul,li,ol{
    list-style: none;
}
a,span{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,div,section,p,a,img,svg,button{
    margin: 0;
    padding: 0;
}
:root{
    --first_backgraud_color: #1C1E53;
    --socund_backgraud_color: #F4F6FC;
    --thirt_backgraud_color: #ffffff;
    --btn_color: #FCD980;
    --poppins_font:"Poppins", sans-serif;
    --font_wight: 600;
    --frist_font_color: #ffffff;
    --socound_font_color: #282938;
    

    --first_background_color: #1C1E53;
    
    
    --first_font_color: #282938;
    --Btn_yello_color: #FCD980;
  
}
body{
    font-family: "Poppins", sans-serif;
}
/* =================== common css ==================== */
/* =================== common css ==================== */
.coustomNav{
    background-color: var(--first_backgraud_color);
    padding: 16px 0;
}

.coustomNavItem{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    margin-right: 12px;

}

.coustomNavItem:hover{
    color: red;
}

.costomBtn{
    padding: 16px 48px;
    background-color: transparent;
    border: none;
    border: 2px solid rgba(244, 246, 252, 0.20);
    font-size: 16px;
    font-weight: 500;
    color: var(--thirt_backgraud_color);
    border-radius: 41px;
    margin-left: 50px;
    transition: all ease-in-out .3s;
    position: relative;
   z-index: 1;
}

.costomBtn::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    border-radius: 41px;
    background-color: var(--btn_color);
    left: 0;
    top: 0;
    z-index: -1;
    transition: ease-in-out .5s;
}
.costomBtn:hover::after{
    width: 100%;
    background-color: var(--btn_color);    
}

/* =================== common css ==================== */
/* =================== Banner Part css ==================== */
#bannerPart{
    padding: 128px 0px;
    background-color: var(--thirt_backgraud_color);
}

.bannerLeft__head{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: var(--socound_font_color);
    margin-bottom: 8px;
}

.bannerLeft__title{
    font-size: 54px;
    font-weight: var(--font_wight);
    line-height: 74px;
    color: var(--socound_font_color);
    margin-bottom: 31px;
}

.bannerLeft__para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
}
/* =================== Banner Part css ==================== */
/* =================== goalPart Part css ==================== */

#goalPart{
    padding: 128px 0px;
    background-color: var(--socund_backgraud_color);
}

/* .goalLeft{
    margin-left: 80px;
} */

.goalLeft__head{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--socound_font_color);
    margin-bottom: 4px;
}

.goalLeft__title{
    font-size: 38px;
    font-weight: var(--font_wight);
    line-height: 56px;
    color: var(--socound_font_color);
    margin-bottom: 16px;
}

.goalLeft__para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
    /* width: 515px; */
}

.goalRight__title{
    margin-top: 42px;
    font-size: 38px;
    font-weight: var(--font_wight);
    color: var(--socound_font_color);
    margin-bottom: 16px;
}

.goalRight__para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
    /* width: 515px;  */
}
/* =================== goalPart Part css ==================== */
/* =================== follow Part css ==================== */
#followPart{
    padding: 128px 0px;
    background-color: var(--thirt_backgraud_color);
}

.plaingPart__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--socound_font_color);
    margin-top: 32px;
}

.plaingPart__para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
    margin-top: 8px;
}
/* =================== follow Part css ==================== */

/* =================== Mission Part css ==================== */
#missionPart{
    padding: 128px 0px;
    background-color: var(--socund_backgraud_color);
}

.missionLeft__head{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--socound_font_color);
    margin-bottom: 16px;
}

.missionLeft__title{
    font-size: 38px;
    font-weight: var(--font_wight);
    line-height: 56px;
    color: var(--socound_font_color);
    margin-bottom: 16px;
}

.missionLeft__para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
    /* width: 623px; */
}


.missionRight{
    margin-top: 110px;
}

.missionRight__head{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--socound_font_color);
    margin-bottom: 16px;
}

.missionRight__title{
    font-size: 20px;
    font-weight: var(--font_wight);
    line-height: px;
    color: var(--socound_font_color);
    margin-bottom: 16px;
}

.missionRight__para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
    /* width: 623px; */
}
/* =================== Mission Part css ==================== */

/* =================== Working Part css ==================== */
#workingPart{
    padding: 128px 0px;
    background-color: var(--thirt_backgraud_color);
}

.topPart{
    font-size: 48px;
    font-weight: var(--font_wight);
    color: var(--socound_font_color);
    text-align: center;
}

.cardPart__title{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--socound_font_color);
    margin-top: 26px;
}

.cardPart__para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
    margin-top: 12px;  
}

.cardPart{
    padding: 58px 48px 48px 48px;
    background-color: var(--socund_backgraud_color);
    border-radius: 7px;
    cursor: pointer;
    transition: all linear .4s;
}

.cardPart:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
     rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.userLog__title{
    font-size: 25px;
    font-weight: var(--font_wight);
    color: var(--socound_font_color);
    margin-bottom: 15px;
}

.userLog__tag{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
}

.photoPart{
    margin-top: 25px;
}

/* =================== Working Part css ==================== */

/* =================== Meet Part css ==================== */
#meetPart{
    padding: 128px 0px;
    background-color: var(--socund_backgraud_color);
}

.mettTop{
    font-size: 48px;
    font-weight: var(--font_wight);
    color: var(--socound_font_color);
}


.memberCard{
    /* max-width: 296px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 10px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 48px 120px;
    border-radius: 10px;
    cursor: pointer;

    
}
.teamPhoto{
    cursor: pointer;
    position: relative;
    overflow: hidden;
 
}

/* .picPart{
    padding: 48px 120px 32px;
    background-color: var(--thirt_backgraud_color);
    cursor: pointer;
    
    margin-bottom: 20px;
    border-radius: 10px;
} */
.photo{
    width: 168px;
    height: 168px;
    border-radius: 50%;
    margin: auto;
}
.memberCard:hover .overlay{
    top:20px;
    
    }

/* .picPart:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
} */
/* .picPart:hover .overlay{
    left: 0px;
} */
.teamPhoto{
padding: 20px 20px;
}
.overlay{
   background: linear-gradient(to bottom, rgba(250, 250, 250, 0),rgba(255, 255, 255, 0), rgba(83, 57, 250, 0.831) 70%);
   width: 168px;
   height: 168px ;
   border-radius: 50%;
   position: absolute;
   top: -220px;
   transition: all linear .4s;
}
.overlayContent{
    position: absolute;
    left: 40px;
    bottom: 28px;
    text-align: center;
}
.iconItem__call{
    color: #FFFFFF;
    transition: all linear 0.3s;
    text-decoration: none;
}

.iconItem__call:hover{
    transform: translateY(-15px);
    color: rgb(246, 164, 0);
}

.picPart__name{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--socound_font_color);
    margin-top: 30px;
    text-align: center;
}

.picPart__title{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--socound_font_color);
    opacity: 70%;
    text-align: center;
}
/* =================== Meet Part css ==================== */

/*============================footer Part Css======================= */

#footer{
    padding: 100px 0 0 0;
    background-color: var(--first_background_color);
  }
  
  .imageleft__para{
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    /* margin-top: 22px; */
  
  }
  
  .talkRight__title{
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
  }
  
  .talkRight__para{
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 22px;
  }
  
  .iconItem{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-top: 126px;
    cursor: pointer;
  }
  .iconItem__call{
    color: #FFFFFF;
    transition: all linear 0.3s;
  }
  
  .iconItem__call:hover{
    transform: translateY(-15px);
    color: var(--Btn_yello_color);
  }
  
  
  .yellowClr{
    background-color: var(--Btn_yello_color);
    padding: 18px 138px 18px 17px;
    margin-top: -10px;
  }
  
  .mailPart__title{
    color: #282938;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  
  .mailPart__contact{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .callPart{
    margin-left: 30px;
  }
  
  .callPart__title{
    color: #282938;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  
  .callPart__number{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  /*============================footer Part Css======================= */
  
  /*============================footer Part Css======================= */
  
  .copyright{
    padding: 32px 0;
    background-color: var(--thirt_background_color);
  }
  
  .copyright{
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
  }
  
  .customItem__link{
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 32px;
  }
  
  .customItem__link:hover{
    color: darkmagenta;
    cursor: pointer;
  }
  /*============================footer Part Css======================= */
  
  
  
  
  