@media (max-width: 991.98px) {
  :root {
    --first_background_color: #1C1E53;
    --second_background_color: #F4F6FC;
    --thirt_background_color: #ffffff;
    --first_font_color: #282938;
    --Btn_yello_color: #FCD980;
    --poppins_font: "Poppins", sans-serif; 
}
 /* Navbar */
 .coustomItam{
  background-color: var(--Btn_yello_color);
  text-align: center;
  padding: 5px 0;
  margin:5px 0px;
  border-radius: 7px;
}
/* nav  */
.coustomBtn {
  padding: 10px 125px;
  /* margin-left: 160px; */
  margin:2px auto !important;
  font-size: 13px !important;
}
/* Navbar */
    /* ========Banner Part Start========== */
    #bannerPart {
      padding: 56px 0 45px 0;
  }
  .bannerPartTitle {
      font-size: 30px;
      line-height: 46px;
  }
  .bannerPartSummare {
      line-height: 28px;
      padding-bottom: 12px;
    font-size: 15px;
  }
  .ImgSummare {
      padding: 27px 0 12px 0;
      line-height: 28px;
  }
  
    /* ========Banner Part End======== */
    /* ========Blog Part Start======== */
    .BlogTaitl {
      font-size: 43px;
      line-height: 31px;
      margin-bottom: 39px;
    }
    
    .BlogPartCard__title {
      font-size: 15px;
      line-height: 27px;
    }
    .BlogPartCard__Summari {
      font-size: 13px;
      line-height: 23px;
    }
    .BlogPartCard {
      margin-bottom: 36px;
    }
    /* ========Blog Part End======== */
    /* Footer  */
    .iconItem { 
      margin: 20px auto;
  }
  .customItem__link {
      margin-top: -12px;
  }
  .copyright{
   text-align: center;
  }
  .callPart {
      margin-left: 0px !important;
  }
  }