@media (max-width: 991.98px) {
    /* ========Banner Part Start========== */
    #bannerPart {
      padding: 56px 0 55px 0;
  }
  .bannerPartTitle {
      font-size: 30px;
      line-height: 46px;
  }
  .bannerPartSummare {
      line-height: 28px;
      padding-bottom: 12px;
    font-size: 15px;
  }
  .ImgSummare {
      padding: 27px 0 12px 0;
      line-height: 28px;
  }
  
    /* ========Banner Part End======== */
    /* ========Blog Part Start======== */
    .BlogTaitl {
      font-size: 43px;
      line-height: 31px;
      margin-bottom: 39px;
    }
    
    .BlogPartCard__title {
      font-size: 15px;
      line-height: 27px;
    }
    .BlogPartCard__Summari {
      font-size: 13px;
      line-height: 23px;
    }
    .BlogPartCard {
      margin-bottom: 36px;
    }
    /* ========Blog Part End======== */
  }