@media (max-width: 1399.98px) { 
    /* --================Banner part start==============-- */
    #privacy {
        padding: 70px 0px;
    }
    .privacy__Summary {
        padding-top: 0px;
        text-align: justify;
    }
    .second__Title {
        padding-top: 44px;
        font-size: 38px;
        
    }
   
    .fourth__Title {
        padding: 20px 0px;
    }
    /* --================Banner part end==============-- */
 }