@media (max-width: 1199.98px) {
     /*--==============banner part start==============--  */
    #privacy {
        padding: 70px 0px;
    }
    .second__Title {
        padding-top: 50px;
    }
    .fourth__Title {
        line-height: 45px;
    }
    /*--==============banner part start==============--  */
 }