@media (max-width: 767.98px) {
    .coustomBtn {
        margin-left: 70px;
    } 
    #privacy {
        padding: 40px 0px;
    }
    .privacy__List {
        font-size: 12px;
    }
    .privacy__Ul {
        font-size: 14px;
    }
    .fourth__Title {
        font-size: 30px;
        text-align: center;
    }
    .second__Title {
        padding: 20px 0;
        font-size: 30px;
        text-align: center;
    }
    .privacy__Title {
        font-size: 36px;
        font-weight: 600;
        color: #282938;
        text-align: center;
        margin-bottom: 24px;
    }
 }